@font-face {
    font-family: Menlo;
    src: url(font/Menlo-Regular.ttf);
}

html, body {
	margin: 0;
	height: 100%;
}

.frame {
	position: absolute;
	width: 50%;
	height: 100%;
}

#editor {
	background: #000;
	font-family: Menlo;
	font-size: 16px;
}

#browser {
	background: #333;
	border-style: none;
	top: 0;
	left: 50%;
}
